body {
	width: 960px;
	margin: 0 auto;
/*	background-color: #8a0027;
*/	background-image: url("http://www.transparenttextures.com/patterns/3px-tile.png");
}


ul.nav {
	width: 960px;
	list-style-type: none;
	overflow: hidden;
	background-color: #cc0000;
	margin-top: 10px;
	padding: 0;
}

ul.nav li {
	width: 320px;
	text-align: center;
	float: left;
}

ul.nav li a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-family: serif;
	padding: 10px 120px;
}

ul.nav li a:hover {
	color: black;
}

.header img {
	width: 960px;
	height: 400px;
	margin: 0 auto;
	opacity: 0.6;
}

div {

}

h1 {
	text-align: center;
	color: #cc0000;
}
